

$red: #e84545;
$gray: #6c7279;
$light-gray: #e8ecee;
$icon-gray: #c6cacc;
$dark: #2d3033;
$blue: #3a3e64;
$darkblue: #313454;



$raleway: 'Raleway', sans-serif;
$open: 'Open Sans', sans-serif;


// font-family: 'Cardo', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: $raleway;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.nav-open {
        transform: translateY(100vh);
        .nav-item-link {
        transform: scale(2);
    }
}

.header {
    background: url(/images/Layer_34.png) no-repeat center center / cover ;
    &-menu {
        
        z-index: 999;
        align-items: center;
        margin: 0 -15px;
        padding: 38px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        .nav {
            width: 600px;
            display: flex;
            list-style: none;
            justify-content: space-between;
            top: -100vh;
            transition: all 0.5s ease-in-out;    

            &-item {
                margin-left: 10px;
                &-link {
                    font-size: 0.8125rem;
                    color: rgba(255, 255, 255, 0.75);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    transition: all .5s;
                    &:hover {
                        color: #FFFFFF;
                        &:after {
                            width: 100%;
                            }
                        }
                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: '.';
                        color: transparent;
                        background: rgb(255, 255, 255);
                        height: 1px;
                        transition: all .5s;
                        }
                    }                
            }
        }
        
       
        
    }


    .banner {
        text-align: center;
        max-width: 912px;
        margin: 0 auto;
        padding: 156px 0;
        color: #FFFFFF;
        &-title {
            margin-bottom: 77px;
            .title {
                font-family: $open;
                text-transform: uppercase;
                font-size: 4.0625rem;
                margin-bottom: 41px;
            } 
            .subtitle {
                font-size: 1.375rem;         
            }
        }
        &-button {
            width: 200px;
            background-color: $red;
            margin: 0 auto;
            transition: all 0.3s ease-out;
            &:hover {
                font-weight: 700;
                transform: scale(1.15);
                background-color: #c53838;
                box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
            }
            &:active {
                transform: scale(1.05);
                background-color: #e64343;
            }
            &-link {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                color: #FFFFFF;
                font-size: 0.8125rem;
                line-height: 46px;
            }
        } 
    }
}

.cards {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 121px 0 50px;
    .card {
        margin: 0 15px 74px;
        text-align: center;
        max-width: 296px;
        &-icon {
            margin-bottom: 35px;
            .icon {
                color: $red;
            }
        }
        &-content {
            &-title {
                font-weight: 700;
                text-transform: uppercase;
                color: $dark;
                margin-bottom: 25px;
            }
            &-text {
                color: $gray;
            }
        }
    }    
}

.works{
    margin-bottom: 100px;
    .gallery{
        margin: 0 auto;
        width: 100%;
        max-width: 1970px;
        display: flex;
        flex-wrap: wrap;
    
        justify-content:center;
        
        &-item {
            cursor: pointer;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            max-width: 480px;
            max-height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 0.5s ease-out;
            box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);          

            &:hover {
                transform: scale(0.95);
                z-index: 1;               
            }

            .descript{
                color: #FFFFFF;
                text-align: center;
                display: block;
                position: absolute;
                transform: translateY(220px);
                max-width: 80%;
                z-index: -200;
                transition: 0.5s;
                opacity: 0;
                &-title{
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 2em;
                }
            }
            &-block{

                width: 100%;
                height: 100%;    
                border-radius: 10px;            
                overflow: hidden;          
                    &-img{
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-position:center;
                        object-fit: cover;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                background: rgba(232, 69, 69, 0.5);
                opacity: 0;
                z-index: 2;
                transition: 0.5s;
            }
            &:hover::before {
                opacity: 1;
            }
            &:hover .descript {
                z-index: 200;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.our_team {
    margin-bottom: 100px;
        .team {
            display: flex;
            flex-wrap: wrap ;
            justify-content: space-between;
                &-card{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-width: 270px;
                    min-height: 100%;
                    
                    .card-header { 
                            &-portrait {
                                max-width: 100%;
                                max-height: 100%;
                                overflow: hidden;
                                margin-bottom: 30px;
                                &-img {
                                    height: 270px;
                                    width: 270px;
                                    object-fit: cover;
                                    object-position: center;      
                                }
                            }
                            &-name {
                                margin-bottom: 11px;
                                font-size: 1.375rem;
                                font-weight: 400;
                            }
                            &-role {
                                display: block;
                                color: $red;
                                text-transform: uppercase;
                                font-size: 0.8125rem;
                                margin-bottom: 29px;
                            }
                        }

                    .content {
                        &-descript {
                            color: $gray;
                            margin-bottom: 30px;
                        }
                    }
                }
        }
}

.social {
    &-list {
        display: flex;
        list-style: none;
        &-item {
            text-align: center;
            width: 40px;
            height: 40px;
            border: 1px solid $light-gray;
            margin-right: 4px;
            &:last-child{
                margin-right: 0;
            }
            &-link {   
                                               
                i {
                    color: $icon-gray;
                    font-size: 18px;
                    line-height: 40px;
                    transition: all 0.3s ease-out;
                }
                
            }
            transition: all 0.3s ease-out;
        &:hover {
            transform: scale(1.15);
            box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
            i {
                color: $red;
            }
        }
        &:active {
            transform: scale(1.05);
        }
        &-link {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 10px;
            text-transform: uppercase;
        }
        }
    }
}

.testimonials{
    margin-bottom: 100px;
    .slider {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        width: 100%;
        max-width: 1950px;
        .slick-dots {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
            
            button {
                background: #FFFFFF;
                opacity: 0.5;
                border: none;
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                padding: 0;
                &:before {
                    display: none;
                    }
                }
                .slick-active {
                    button {
                        opacity: 1;
                    }   
            }
        }
        .slider { width: 100vw;}
        &-item {
            display: flex;
            
            &-img {
                object-fit: cover;
                object-position: center;
                width: 50%;
                height: 500px;
            }
            &-testimonial {               
                width: 50%;
                background-color: rgb(108, 39, 68);
                
                
                &-text {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left:  10%;
                    max-width: 50%;
                    color: #FFFFFF;
                    &-top {
                        font-size: 2.25rem;
                        font-family: 'Cardo', serif;
                    }
                    &-bottom {
                        text-transform: uppercase;
                        font-size: 0.8125rem;
                        font-weight: 700;
                    }
                } 
            }
        }
    }
}

.download {
    margin-bottom: 100px;   
    &-header {
        text-align: center;
        margin-bottom: 40px;
        &-title {
           color: $dark;
           font-size: 1.75rem;
           font-weight: 300;
           margin-bottom: 16px;
        }
        &-subtitle {
            text-transform: uppercase;
            font-size: 0.8125rem;
            font-weight: 700;
            color: $dark;
        }
    }
    &-button {
        max-width: 17.5rem;
        background-color: $red;
        margin: 0 auto;
        text-align: center;
        line-height: 2.875rem;
        transition: all 0.3s ease-out;
        &:hover {
            font-weight: 700;
            transform: scale(1.15);
            background-color: #c53838;
            box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        }
        &:active {
            transform: scale(1.05);
            background-color: #e64343;
        }
        &-link {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

.bottom {
    padding: 70px 0 90px;
    background-color: $blue;   
    .container{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &-title {
        margin: 0 auto 21px; 
        color: #FFFFFF;
        font-weight: 700;
    }
    &-subtitle {
       color: rgba(255, 255, 255, 0.5);
       margin: 0 auto;
    }
    &-adress {
        width: 33%;
        .bottom-subtitle {
            max-width: 146px;
        }

    }
    &-info {
        width: 33%;
       .bottom-subtitle {max-width: 328px;}
    }
    &-social {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
}

footer {
    padding: 29px 0;
    background-color: $darkblue;
    text-align: center;
    .copyright {
        color: #808080;
    }
    .by {
        color: #FFFFFF;
    }
    .fa-heart {
        color: $red;
    }
}

@media (max-width: 1920px) {
    .gallery{

        &-item {
            width: 24%!important;            
        }
        

    }
}

@media (max-width: 1200px) {
    .header-menu {
        margin: 0 15px;
    }
    
    
}

@media (max-width:1130px) {
    .our_team {
        margin-bottom: 100px;
            .team {
                display: flex;
                flex-wrap: wrap ;
                justify-content: center;
                    &-card{
                        margin:0 10px 40px;
                        display: flex;
                        flex-direction: column;
                        max-width: 270px;
                        min-height: 100%;
                        
                        .card-header { 
                                &-portrait {
                                    max-width: 100%;
                                    max-height: 100%;
                                    overflow: hidden;
                                    margin-bottom: 10px;
                                    &-img {
                                        height: 270px;
                                        width: 270px;
                                        object-fit: cover;
                                        object-position: center;      
                                    }
                                }
                                &-name {
                                    margin-bottom: 5px;
                                    font-size: 1.375rem;
                                    font-weight: 400;
                                }
                                &-role {
                                    display: block;
                                    color: $red;
                                    text-transform: uppercase;
                                    font-size: 0.8125rem;
                                    margin-bottom: 10px;
                                }
                            }
    
                        .content {
                            &-descript {
                                color: $gray;
                                margin-bottom: 30px;
                            }
                        }
                    }
            }
    }

}

@media (max-width: 1024px) {

    html{
        font-size: 12px;
    }
    .header { 
        .banner {
            text-align: center;
            max-width: 912px;
            margin: 0 auto;
            padding: 80px 0;
            color: #FFFFFF;
        }
    }

    .cards {
        padding: 30px 0;
        .card {
            margin-bottom: 30px;
            &-icon {
                margin-bottom: 15px;
            }
        }
    }
    .our_team {
        margin-bottom: 30px;
    }

    .testimonials{
    .slider {
        .slick-dots {
            display: none;
            button {
                display: none;
            }
        }
        &-item {
            display: flex;
            
            &-img {
                width: 100%;
                }
            &-testimonial {             
                position: absolute;  
                width: 100%;
                background-color: rgba(108, 39, 68, 0.5);
                bottom: 0;                
                
                &-text {
                    padding: 15px ;
                    max-width: 80%;
                    &-top {
                        margin-bottom: 0.5em;
                        }
                    } 
                }
            }
        }
    }

    .download, .testimonials {
        margin-bottom: 70px;
    }
    .bottom {
        padding: 50px 0;
    }
}

@media(max-width:978px) {
    
    
    .logo {
        margin-right: 10px;
    }
    .cards {
        justify-content: space-around;
    }

    
    .testimonials, .download {
        margin-bottom: 50px;
    }
}

@media (max-width: 959px) {

    .gallery {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .gallery-item{
            margin-bottom: 15px;
            width: 90% !important;
            overflow: hidden;
            &:last-child {
                margin-bottom: 0;
                
            }
            &:nth-child(-n+5){
                display: none;
            }
            &::before {
                opacity: 0.8 !important;
            
            }
            .descript {
                opacity: 1 !important;
                transform: translateY(0px)  !important;
                z-index: 100 !important;
                &-title {
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                }
                &-span {
                    font-size: 1rem;
                    line-height: 2;
                    letter-spacing: 1px;
                    
                }            
            }
        }
    }

@media (max-width:598px){
    .logo {
        img {
            max-width: 100%;

        }
        background:url(/images/Layer_34.png) no-repeat left top / cover ;    
    }
    .title {
        margin-bottom: 20px;
    }

    .header .banner {
        padding: 40px 0;
    }

    html {
        font-size: 10px;
    }

    .header {
        .container{
            padding: 0;
        }
        &-menu {
            .logo {
                margin-left: 10px;
                max-width: 150px;
                z-index: 300;
            }
            padding: 10px 15px;
            margin: 0;
            position: fixed;
            z-index: 200;            
            width: 100%;
            background:url(/images/Layer_34.png) no-repeat top center / cover ;
            

        }
        .banner {
            padding-top: 140px;
        }
    }
    
    .nav {
        
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url(/images/Layer_34.png) no-repeat center center / cover ;
        align-items: center;
        padding: 10vh 0 20vh;
        justify-content: space-between;
        }

        
        .bottom {
            padding: 40px 0 50;
            .container{
            align-items: center;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            }
            &-title {
                margin-bottom: 10px;
            }
            &-social, 
            &-adress {
                margin-bottom: 30px;
            }
        }


        .burger {
            width: 29px;
            height: 29px;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            margin-right: 15px;
            
            span {
                margin-bottom: 10px;
                position: relative;
                transition: all 0.9s ease-in-out;
                display: block;
                height: 3px;
                background-color: $light-gray;
                &:last-child{
                    margin-bottom: 0;
                }
                
            }
            
        }
    }


    .open {
        position: relative;
        transform: rotate(180deg) translateY(17px);
        span {
            width: 100%;
            position: absolute;
            margin: 0;
        }
        span:nth-child(2) {
            transform: translateX(20px);
            opacity: 0;
            
        }
        span:nth-child(1){
            transform-origin: center center;
            transform: rotate(-45deg);
        }
        span:nth-child(3){
            transform-origin: center center;
            transform: rotate(45deg);
        }
        
    }
    